{
	"presets": ["next/babel"],
	"plugins": [
		[
			"babel-plugin-transform-imports",
			{
				"@material-ui/core": {
					"transform": "@material-ui/core/${member}",
					"preventFullImport": false
				},
				"@material-ui/icons": {
					"transform": "@material-ui/icons/${member}",
					"preventFullImport": false
				}
			}
		],
		["styled-components", { "ssr": true }]
	]
}
